<%= simple_form_for([@city,@weather]) do |f| %>

  <div class="form-group mb-2">
    <%= f.input :temp, label: false %>
  </div>
  
  <div class="form-group mb-2">
    <%= f.button :button, class: "btn btn-outline-success" do %>
      <%= fa_icon "check" %>
    <% end %>
  </div>
  
  
<% end %>
