<h2><%= @city.name%></h2>
<h1>Añadir Temperatura</h1>

<%= render 'form', weather: @weather %>

<%= link_to city_path(@city), class: "btn btn-info" do %>
    <%= fa_icon "arrow-left"%> Volver
<% end %>